body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0,0%,95%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
